## Run ID: 148

5 p1v2 instances

Postgres memory optimized 4vCore

AVG. RESPONSE TIME
2.5sec
USER LOAD
400users
REQUESTS PER SEC
109.8RPS
FAILED REQUESTS
0%
0 failed requests
24711 total requests
ERRORS
0errors
0 thresholds violated
USAGE
2KVUMs

## Run ID: 149

10 p1v2 instances

Postgres memory optimized 4vCore

AVG. RESPONSE TIME
685.6ms
USER LOAD
400users
REQUESTS PER SEC
236RPS
FAILED REQUESTS
0%
0 failed requests
46029 total requests

## Run ID: 151

15 p1v2 instances

Postgres memory optimized 4vCore

AVG. RESPONSE TIME
490.3ms
USER LOAD
600users
REQUESTS PER SEC
391.9RPS
FAILED REQUESTS
0%
0 failed requests
176333 total requests

## Run ID: 152
15 p1v2 instances

Postgres standard 2vCore

AVG. RESPONSE TIME
521.5ms
USER LOAD
600users
REQUESTS PER SEC
378.1RPS
FAILED REQUESTS
0%
0 failed requests
141804 total requests

## Run ID: 153
10 S1 instances

Postgres standard 2vCore

AVG. RESPONSE TIME
1.7sec
USER LOAD
600users
REQUESTS PER SEC
211.3RPS
FAILED REQUESTS
0%
0 failed requests
50717 total requests

## Run ID: 154

12 p1v2 instances

Postgres standard 2vCore

AVG. RESPONSE TIME
1sec
USER LOAD
600users
REQUESTS PER SEC
292RPS
FAILED REQUESTS
0%
0 failed requests
135766 total requests

## Run ID: 156 - AKS

VMs: 15 x F1

Pods: 30

Postgres memory optimized 4vCore

AVG. RESPONSE TIME
131.9ms
USER LOAD
600users
REQUESTS PER SEC
519.6RPS
FAILED REQUESTS
0%
0 failed requests
335135 total requests


## Run ID: 157 - AKS

VMs: 10 x F1

Pods: 20

Postgres standard 2vCore

AVG. RESPONSE TIME
230.7ms
USER LOAD
600users
REQUESTS PER SEC
475.1RPS
FAILED REQUESTS
0%
0 failed requests
427583 total requests
